*~
#*
decode6502
not_in_git/
*.log
*.bin
*.tmp
clark_bcd_full.bin.gz
dormann_d6502.bin.gz
dormann_d65c00.bin.gz
dormann_d65c01.bin.gz
dormann_d65c10.bin.gz
dormann_d65c11.bin.gz
extended_tests.zip
/.dir-locals.el
decode6502.dSYM/
test/**/*.ref
test/**/*.dif
