/Makefile
/config.h
/config.log
/config.status
/firmware/fx2pipe.asm
/firmware/fx2pipe.ihx
/firmware/fx2pipe.lk
/firmware/fx2pipe.lst
/firmware/fx2pipe.map
/firmware/fx2pipe.mem
/firmware/fx2pipe.rel
/firmware/fx2pipe.rst
/firmware/fx2pipe.sym
/firmware/fx2pipe_static.cc
/fx2pipe/.deps/
/fx2pipe/Makefile
/fx2pipe/fx2pipe
/lib/Makefile
/stamp-h1
/usb_io/.deps/
/usb_io/Makefile
*.o
*.a
